:root {
  --c-primary--50: #ecfff5;
  --c-primary--100: #d3ffe9;
  --c-primary--200: #aaffd5;
  --c-primary--300: #69ffb6;
  --c-primary--400: #21ff90;
  --c-primary--500: #00f26f;
  --c-primary--600: #00ca58;
  --c-primary--700: #009e48;
  --c-primary--800: #008040;
  --c-primary--900: #026535;
  --c-primary--950: #00391b;

  --c-secondary--50: #fff0f9;
  --c-secondary--100: #ffe2f7;
  --c-secondary--200: #ffc5ef;
  --c-secondary--300: #ff96e0;
  --c-secondary--400: #ff55c8;
  --c-secondary--500: #ff23af;
  --c-secondary--600: #ff008c;
  --c-secondary--700: #e3006d;
  --c-secondary--800: #bb0059;
  --c-secondary--900: #800040;
  --c-secondary--950: #60002a;

  --c-success--50: #f9fce9;
  --c-success--100: #f1f8cf;
  --c-success--200: #e1f1a5;
  --c-success--300: #cbe670;
  --c-success--400: #b3d744;
  --c-success--500: #96bd25;
  --c-success--600: #83aa1d;
  --c-success--700: #587318;
  --c-success--800: #475b19;
  --c-success--900: #3d4e19;
  --c-success--950: #1f2b08;

  --c-warning--50: #fefbec;
  --c-warning--100: #faf3cb;
  --c-warning--200: #f5e492;
  --c-warning--300: #f0d259;
  --c-warning--400: #edbf32;
  --c-warning--500: #e6a320;
  --c-warning--600: #cb7c14;
  --c-warning--700: #a95a14;
  --c-warning--800: #894617;
  --c-warning--900: #713a16;
  --c-warning--950: #411d07;

  --c-alert--50: #fef2f2;
  --c-alert--100: #fee2e2;
  --c-alert--200: #fecaca;
  --c-alert--300: #fca5a5;
  --c-alert--400: #f87171;
  --c-alert--500: #ef4444;
  --c-alert--600: #d42222;
  --c-alert--700: #b91c1c;
  --c-alert--800: #991b1b;
  --c-alert--900: #7f1d1d;
  --c-alert--950: #450a0a;

  --c-nuetral--50: #f5f8f7;
  --c-nuetral--100: #dfe8e7;
  --c-nuetral--200: #bed1d0;
  --c-nuetral--300: #96b2b1;
  --c-nuetral--400: #6d8c8d;
  --c-nuetral--500: #567576;
  --c-nuetral--600: #435d5e;
  --c-nuetral--700: #394a4c;
  --c-nuetral--800: #303e3f;
  --c-nuetral--900: #2b3536;
  --c-nuetral--950: #151e1e;

  --c-accent-1--100: #d9eef0;
  --c-accent-1--300: #8dbdc2;
  --c-accent-1--500: #388289;
  --c-accent-1--700: #215e64;
  --c-accent-1--900: #0e3235;

  --c-accent-2--100: #e9e7f1;
  --c-accent-2--300: #cec5f0;
  --c-accent-2--500: #8c78d4;
  --c-accent-2--700: #61519e;
  --c-accent-2--900: #3e326d;

  --c-accent-3--100: #ffdfd3;
  --c-accent-3--300: #fea686;
  --c-accent-3--500: #fa7241;
  --c-accent-3--700: #ed5a25;
  --c-accent-3--900: #d44511;

  --c-accent-4--100: #ffe1ea;
  --c-accent-4--300: #fea1be;
  --c-accent-4--500: #ec497d;
  --c-accent-4--700: #d0235a;
  --c-accent-4--900: #a71140;
}
